*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

nav{
  padding: 2rem;
  background-color: gray;
  color: white;
}

main{
  padding: 2rem;
  background-color: orange;
  height: 100vh;
}

.main-con{
  display: flex;
  justify-content: space-between;
  height: 500px;

}

aside{
  width: 30%;
  height: 100%;
  background-color: aqua;
}

article{
  width: 70%;
  height: 100%;
  background-color: aquamarine;
}

footer{
  background-color: beige;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width:768px){
  .main-con{
    flex-direction: column;
  }
  aside{
    width: 100%;
  }
  article{
    width: 100%;
  }
}

@media screen and (max-width:480px){
  .main-con{
    flex-direction: column;
  }
  aside{
    width: 100%;
  }
  article{
    width: 100%;
  }
}